:root {
  /* Light Mode Colors */
  --bg-color: #fafafa; /* Website background */
  --body-bg-color: #fafafa; /* Body section background */
  --title-color: #3d3d40; /* Title color */
  --subtitle-color: #0E0E10; /* Subtitle color */
  --paragraph-color: #121212; /* Paragraph color */
  --link-color:  #CC2155  ; /* #009BCA */
  --link-hover-color:  #CC2155  ;
  --section-bg-color:  #cc213250  ;
  --item-bg-color: #f4f4f4be;
  --button-bg-color: #4CAF50;
  --footer-bg-color: #333333;
  --footer-font-color: #FFFFFF;

  /* Dark Mode Colors */
  --dark-body-bg-color: #292727ec; /* Body section background */
  --dark-title-color: rgba(244, 244, 244, 1); /* Title color */
  --dark-subtitle-color: rgba(247, 247, 248, 0.9); /* Subtitle color */
  --dark-paragraph-color: rgba(247, 247, 248, 0.8); /* Paragraph color */
  --dark-item-bg-color: #62adc4a7;
  --dark-section-bg-color: #62adc477;
  --footer-dark-title-color: #848383d6;
  --dark-link-color:  #009BCA   ; /* #009BCA */
  --dar-link-hover-color:   #009BCA  ;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--paragraph-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark_mode {
  background-color: var(--dark-body-bg-color);
  
}

.dark_mode body,
.dark_mode html {
  background-color: var(--dark-body-bg-color);
}